extends layout

include includes/mixins

block script
  include includes/version-js

block content
  include includes/changelog-dialog
  .app-header(style="background-color: #faf9f9; color:#23172D;")
    .app-title
      div.title= title
        if nightly
          span (Nightly)
      unless nightly
        a.full-changelog(href='', data-toggle='modal', data-target='#myModal', data-version="", data-content=changelog) View all changes
        unless showlatest
          a.btn.btn-primary(href='/download/' + id + '/latest') Download Latest
              +icon("download-alt").left5
    .app-logo
      img(src='/icon/' + id, alt=title + ' Logo', style='max-width: 100px; max-height: 100px;')
  unless nightly
    .app-filtering
      | Filtering
      .btn-group.filter-options(role="group")
        if session.admin
          a.btn.btn-primary.btn-sm(href="/app/" + id + "/all") All
        a.btn.btn-info.btn-sm(href="/app/" + id + "/") Show Latest
        each depGroup in dependencies
          .btn-group(role="group")
            button.btn.btn-default.btn-sm.dropdown-toggle(data-toggle='dropdown')= depGroup[0]
              |&nbsp;
              span.caret
            ul.dropdown-menu
              each dep in depGroup[1]
                li
                  a(type="button", href="/app/" + id + "/" + dep.type.name + "/" + dep.version)= dep.type.name + " " + dep.version

  div.app-versions
    .versions-header Available Versions
    each version in versions
      div.version
        div.version-nbr
          strong.version-font= version.name
          if session.admin
            a.btn.btn-default.btn-sm.right5(href='/admin/editVersion/' + version._id) Edit
          if version.released
            div(style="flex-grow: 1;justify-content: flex-end; align-items:center;display:flex;")
              if version.changelog
                a.btn.btn-changes.btn-sm.right5(href="", data-toggle='modal', data-target='#myModal', data-version=version.name, data-content=version.collectedChangelog ? version.collectedChangelog : [version.changelog]) View changes
              if session.admin
                +tooltip("Download count")
                  span.badge.hidden-xs.right5 #{version.downloads}
                if version.released
                  +icon("send", "Released").right5.text-success
                  unless version.hidden
                    +icon("eye-open", "Listed").right5.text-success
                  else
                    +icon("eye-close", "Hidden").right5.text-warning
                else
                  +icon("warning-sign", "Not Released").right5.text-warning
              if version.downloadable
                +tooltip("Copy Download Link")
                  a.btn.btn-default.btn-sm.copy.hidden-xs.right5(href="", data-link='/download/' + version.filename)
                    +icon("copy")
                +tooltip("Download")
                  a.btn.btn-default.btn-sm(href='/download/' + version.filename)
                    +icon("download-alt")
              else
                +icon("ban-circle", "Download blocked")
        if version.compatible.length > 0
          div.version-compatible
            each depGroup in version.compatible
              div.dep-group
                span.label(style="font-weight:normal;color:#000;")= depGroup[0]
                each dep in depGroup[1]
                  span.label(style="background-color:" + dep.color + ";margin-right:4px;", id=dep.version)= dep.version
    else
      .text-center No versions found!
