extends layout

block script
  script(type='text/javascript').
    $(function () {
      $('[data-toggle="modal"]').on('click', function() {
        $("#dialogBody").html($(this).data("content"));
        $("#dialogTitle").html($(this).data("version"));
      })
    });
    $(function() {
      $('.copy').on('click', function() {
        copyTextToClipboard(location.protocol + "//" + location.host  + $(this).data("link"));
      });
    });

    // modification of http://stackoverflow.com/a/30810322/598962
    function copyTextToClipboard(text) {
      var textArea = document.createElement("textarea");

      textArea.style.position = 'fixed';
      textArea.style.top = 0;
      textArea.style.left = 0;
      textArea.style.width = '2em';
      textArea.style.height = '2em';
      textArea.style.background = 'transparent';
      textArea.value = text;

      document.body.appendChild(textArea);
      textArea.select();

      try {
        document.execCommand('copy');
      } catch (err) {
      }

      document.body.removeChild(textArea);
    }

block content
  #myModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Changelog for #{title}&nbsp;
            span#dialogTitle
        .modal-body
          pre#dialogBody
        .modal-footer
          button.btn.btn-primary(type='button', data-dismiss='modal') Close
  .row
    .col-xs-8
      h1= title
        if nightly
          span  (Nightly)
      unless showlatest
        unless nightly
          a.btn.btn-primary(href='/download/' + id + '/latest') Download Latest&nbsp;
            span.glyphicon.glyphicon-download-alt
    .col-xs-4
      img.pull-right(src='/icon/' + id, alt=title + ' Logo', style='max-width: 100px; max-height: 100px;')
  unless nightly
    .row(style="margin-top: 15px;")
      .col-xs-12
        .btn-group(role="group")
          a.btn.btn-info.btn-sm(href="/app/" + id + "/") Show Latest
          each dep in dependencies
            a.btn.btn-default.btn-sm(type="button", href="/app/" + id + "/" + dep.type.name + "/" + dep.version)= dep.type.name + " " + dep.version

  table.table.versions-table
    thead
      tr
        th.version-col Version
        th Compatibility
        th
    tbody
      each version in versions
        tr
          td
            if session.admin
              a.btn.btn-default.btn-sm(href='/admin/editVersion/' + version._id)
                span.glyphicon.glyphicon-edit
              |&nbsp;
            = version.name
            if version.changelog
              a.btn.btn-default.btn-sm(href="", data-toggle='modal', data-target='#myModal', data-version=version.name, data-content=version.changelog, style="margin-left: 5px")
                span.glyphicon.glyphicon-list
          td
            each dep in version.compatible
              span.label.pull-left(style="background-color:" + dep.color + ";margin-right:5px;margin-bottom:5px;", id=dep.version)= dep.type.name + " " + dep.version
          td.text-right
            a.btn.btn-default.btn-sm.copy.hidden-xs(href="#", data-link='/download/' + version.filename, style="margin-right: 5px;")
              span.glyphicon.glyphicon-copy
            a.btn.btn-default.btn-sm(href='/download/' + version.filename)
              span.glyphicon.glyphicon-download-alt