extends layout

include includes/mixins

block script
  include includes/version-js

block content
  include includes/changelog-dialog
  .row
    .col-xs-8
      h1= title
        if nightly
          span  (Nightly)
      unless nightly
        a.btn.btn-primary(href='', data-toggle='modal', data-target='#myModal', data-version="" data-content=changelog) Changelog
          +icon("list").left5
        unless showlatest
          a.btn.btn-primary(href='/download/' + id + '/latest') Download Latest
              +icon("download-alt").left5
    .col-xs-4
      img.pull-right(src='/icon/' + id, alt=title + ' Logo', style='max-width: 100px; max-height: 100px;')
  unless nightly
    .row(style="margin-top: 15px;")
      .col-xs-12
        .btn-group(role="group")
          if session.admin
            a.btn.btn-primary.btn-sm(href="/app/" + id + "/all") Show All
          a.btn.btn-info.btn-sm(href="/app/" + id + "/") Show Latest
          each dep in dependencies
            a.btn.btn-default.btn-sm(type="button", href="/app/" + id + "/" + dep.type.name + "/" + dep.version)= dep.type.name + " " + dep.version

  table.table.versions-table
    thead
      tr
        th(class= session.admin ? "version-col-wide" : "version-col") Version
        th Compatibility
        th
    tbody
      each version in versions
        tr
          td.version-font
            if session.admin
              +tooltip("Edit")
                a.btn.btn-default.btn-sm.right5(href='/admin/editVersion/' + version._id)
                  +icon("edit")
            = version.name
            if version.changelog
              +tooltip("Changelog")
                a.btn.btn-default.btn-sm.left5(href="", data-toggle='modal', data-target='#myModal', data-version=version.name, data-content=version.changelog)
                  +icon("list")
          td
            each dep in version.compatible
              span.label.pull-left(style="background-color:" + dep.color + ";margin-right:5px;margin-bottom:5px;", id=dep.version)= dep.type.name + " " + dep.version
          td.text-right
            if session.admin
              +tooltip("Download count")
                span.badge.hidden-xs.right5 #{version.downloads}
              if version.released
                +icon("send", "Released").right5.text-success
                unless version.hidden
                  +icon("eye-open", "Listed").right5.text-success
                else
                  +icon("eye-close", "Hidden").right5.text-warning
              else
                +icon("warning-sign", "Not Released").right5.text-warning

            if version.released
              if version.downloadable
                +tooltip("Copy Download Link")
                  a.btn.btn-default.btn-sm.copy.hidden-xs.right5(href="", data-link='/download/' + version.filename)
                    +icon("copy")
                +tooltip("Download")
                  a.btn.btn-default.btn-sm(href='/download/' + version.filename)
                    +icon("download-alt")
              else
                +icon("ban-circle", "Download blocked")
      else
        tr
          td.text-center(colspan=3) No versions found!