extends layout

block script
  include includes/version-js

block content
  include includes/changelog-dialog
  .row
    .col-xs-8
      h1= title
        if nightly
          span  (Nightly)
      unless nightly
        a.btn.btn-primary(href='', data-toggle='modal', data-target='#myModal', data-version="" data-content=changelog) Changelog&nbsp;
          span.glyphicon.glyphicon-list
        unless showlatest
          a.btn.btn-primary(href='/download/' + id + '/latest') Download Latest&nbsp;
            span.glyphicon.glyphicon-download-alt
    .col-xs-4
      img.pull-right(src='/icon/' + id, alt=title + ' Logo', style='max-width: 100px; max-height: 100px;')
  unless nightly
    .row(style="margin-top: 15px;")
      .col-xs-12
        .btn-group(role="group")
          if session.admin
            a.btn.btn-primary.btn-sm(href="/app/" + id + "/all") Show All
          a.btn.btn-info.btn-sm(href="/app/" + id + "/") Show Latest
          each dep in dependencies
            a.btn.btn-default.btn-sm(type="button", href="/app/" + id + "/" + dep.type.name + "/" + dep.version)= dep.type.name + " " + dep.version

  table.table.versions-table
    thead
      tr
        th(class= session.admin ? "version-col-wide" : "version-col") Version
        th Compatibility
        th
    tbody
      each version in versions
        tr
          td
            if session.admin
              a.btn.btn-default.btn-sm(href='/admin/editVersion/' + version._id, data-tooltip="tooltip", data-placement="top", title="Edit")
                span.glyphicon.glyphicon-edit
              |&nbsp;
            = version.name
            if version.changelog
              a.btn.btn-default.btn-sm(href="", data-toggle='modal', data-target='#myModal', data-version=version.name, data-content=version.changelog, style="margin-left: 5px", data-tooltip="tooltip", data-placement="top", title="Changelog")
                span.glyphicon.glyphicon-list
          td
            each dep in version.compatible
              span.label.pull-left(style="background-color:" + dep.color + ";margin-right:5px;margin-bottom:5px;", id=dep.version)= dep.type.name + " " + dep.version
          td.text-right
            if session.admin
             span.badge.hidden-xs(style="margin-right: 5px;")= version.downloads
            a.btn.btn-default.btn-sm.copy.hidden-xs(href="#", data-link='/download/' + version.filename, style="margin-right: 5px;", data-tooltip="tooltip", data-placement="top", title="Copy Download Link")
              span.glyphicon.glyphicon-copy
            a.btn.btn-default.btn-sm(href='/download/' + version.filename, data-tooltip="tooltip", data-placement="top", title="Download")
              span.glyphicon.glyphicon-download-alt