extends layout

block script
  script(type='text/javascript').
    var isMobile = {
      Windows: function() {
        return /IEMobile/i.test(navigator.userAgent);
      },
      Android: function() {
        return /Android/i.test(navigator.userAgent);
      },
      BlackBerry: function() {
        return /BlackBerry/i.test(navigator.userAgent);
      },
      iOS: function() {
        return /iPhone|iPad|iPod/i.test(navigator.userAgent);
      },
      any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
      }
    };
    $(document).ready(function() {
      if (isMobile.iOS()) {
        $(".android").addClass("hidden");
      } else if (isMobile.Android()) {
        $(".ios").addClass("hidden");
      }

      if (isMobile.Windows()
          || isMobile.BlackBerry()) {
        var $apps = $(".applications");
        $apps.addClass("hidden");
        $apps.parent().html("<strong>Sorry! We don't have any applications for your device!</strong>");
      }
    });

block content
  if nightly
    .row
      .col-xs-6
        h1(style="margin-top:0") Browsing Nightly
      .col-xs-6.text-right
        h1(style="margin-top:0")
          a(href="/") Go to Release
  .row.applications
    each app in applications
      .col-xs-6.col-md-3.application.text-center(id=app.id, class=app.type)
        if app.type === 'ios'
          a(href=app.link)
            img(src='/icon/' + app.id, alt=app.title + ' Logo')
            div=app.title
        else
          if nightly
            a(href='/nightly/' + app.id)
              img(src='/icon/' + app.id, alt=app.title + ' Logo')
              div=app.title
          else
            a(href='/app/' + app.id + (session.admin ? "/all" : ""))
              img(src='/icon/' + app.id, alt=app.title + ' Logo')
              div=app.title
    else
      .col-md-12 There are no apps!
