doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= pagetitle
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .header
        nav
          ul.nav.nav-pills.pull-right
            li(class={active: currentUrl === '/'}, role='presentation')
              a(href='/') Home
            if session.admin
              li(class={active: currentUrl === '/admin'}, role='presentation')
                a(href='/admin') Admin
        a.title(href='/')
          if logo
            img.hidden-xs.logo(src=logo)
          h3.text-muted= pagetitle
      .well(class=applications ? "shallow" : "")
        if flash
          while message = flash.shift()
            .alert(class='alert-' + message.type)
              p= message.message
        block content
      footer.footer
        p
          span.pull-left
            a(href='/download') Latest
            if nightly
              |  |&nbsp;
              a(href='/nightly') Nightly
            if session.admin
              |  |&nbsp;
              a(href='/admin/logout') Logout
          span.pull-right
            | Powered by AppPortal

    script(src='/javascripts/jquery-2.2.4.min.js')
    script(src='/javascripts/bootstrap.min.js')
    block script